.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.btn{
    padding: 12px 24px;
    background: blue;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    color: wheat;
  }